<div class="row">
    <div class="col-lg-2">
        <div class="d-grid">
            <button class="btn btn-primary btn-block" type="button" (click)="backtohome()">Back To Home</button>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-lg-2">
        <div class="card-border-secondary mb-3">
            <div class="card-header h3 text-muted text center">Users</div>
        
        <div class="card-body" style="height:555px">
            @for (user of service.OnlinneUsers; track $index)
            {
        <div class="row mt-1" > 
            <div class="col">
                <div class="d-grid">
                        <button class="btn btn-success card-text btn-block" type="button"
                        [ngClass]="{'btn-success': user === service.MyName, 'btn-primary': user !== service.MyName}" 
                        (dblclick)="openPrivateChat(user)"
                        [disabled]="user === service.MyName"
                        
                        >
                        {{user}}</button>               
                    </div>
            </div>
        
        </div>
    }
        
        </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card-border-secondary">
            <div class="card-header h3 text-muted text center">Message</div>
        <div class="card-body" style="height: 500px;" >
           <app-messages [messages]="service.messages"></app-messages>
        </div>
        <div class="card-footer">
       
    <app-chatinput (contentemmiter)="sendmessage($event)"></app-chatinput>
        </div>  
        </div>
        </div>
       

</div>

