<br /><br />
<div id="pay">
  <header>
    <h2>{{ "payment.title" | translate }}</h2>
  </header>
  <main>
    <section>
      <p>
        {{ "payment.parg1" | translate }}
      </p>
    </section>
    <section>
      <p>
        {{ "payment.parg2" | translate }}
      </p>
    </section>
    <section>
      <p>
        {{ "payment.parg3" | translate }}
      </p>
    </section>
    <section>
      <p>
        {{ "payment.parg4" | translate }}
      </p>
    </section>
    <section>
      <p>
        {{ "payment.parg5" | translate }}
      </p>
    </section>
  </main>
</div>
