<!-- <div class="popup-overlay" (click)="closeLoginForm()"></div> -->
<div class="popup-overlay"></div>
<div class="popup">
  <div class="card">
    <div class="card2">
      <!-- <form class="form" [formGroup]="FormValidation" (ngSubmit)="logSuc()"> -->
      <form class="form" [formGroup]="FormValidation" (ngSubmit)="onSubmit()">
        <p id="heading">{{ "craftForm.heading" | translate }}</p>
        <label class="form-label">{{
          "craftForm.zone.label" | translate
        }}</label>
        <div class="field">
          <svg
            viewBox="0 0 16 16"
            fill="currentColor"
            height="16"
            width="16"
            xmlns="http://www.w3.org/2000/svg"
            class="input-icon"
          ></svg>
          <input
            formControlName="Zone"
            type="text"
            name="Zone"
            class="input-field"
            [placeholder]="'craftForm.zone.placeholder' | translate"
            #inputEmail
            required
            autocomplete="on"
          />
        </div>
        <div
          style="color: red"
          *ngIf="formControls['Zone'].invalid && formControls['Zone'].touched"
          class="validation-error"
        >
          {{ "craftForm.zone.required" | translate }}
        </div>
        <label class="form-label">{{
          "craftForm.history.label" | translate
        }}</label>
        <div class="field">
          <svg
            viewBox="0 0 16 16"
            fill="currentColor"
            height="16"
            width="16"
            xmlns="http://www.w3.org/2000/svg"
            class="input-icon"
          ></svg>
          <input
            formControlName="History"
            type="text"
            name="History"
            class="input-field"
            [placeholder]="'craftForm.history.placeholder' | translate"
            #inputEmail
            required
            autocomplete="on"
          />
        </div>
        <div
          style="color: red"
          *ngIf="
            formControls['History'].invalid && formControls['History'].touched
          "
          class="validation-error"
        >
          {{ "craftForm.history.required" | translate }}
        </div>
        <label class="form-label">{{
          "craftForm.category.label" | translate
        }}</label>
        <div class="field">
          <select
            formControlName="CategoryName"
            class="input-field"
            required
            style="background-color: #171717; color: white"
          >
            <option value="" disabled>
              {{ "craftForm.category.label" | translate }}
            </option>
            <option *ngFor="let category of CategoryName" [value]="category.id">
              {{ category.categoryName }}
            </option>
          </select>
        </div>
        <div
          style="color: red"
          *ngIf="
            formControls['CategoryName'].invalid &&
            formControls['CategoryName'].touched
          "
          class="validation-error"
        >
          {{ "craftForm.category.required" | translate }}
        </div>
        <label class="form-label">{{
          "craftForm.specialist.label" | translate
        }}</label>
        <div class="field">
          <svg
            viewBox="0 0 16 16"
            fill="currentColor"
            height="16"
            width="16"
            xmlns="http://www.w3.org/2000/svg"
            class="input-icon"
          ></svg>
          <input
            formControlName="Speciality"
            type="text"
            name="Speciality"
            class="input-field"
            #inputEmail
            required
            autocomplete="on"
            [placeholder]="'craftForm.specialist.placeholder' | translate"
          />
        </div>
        <div
          style="color: red"
          *ngIf="
            formControls['Speciality'].invalid &&
            formControls['Speciality'].touched
          "
          class="validation-error"
        >
          {{ "craftForm.specialist.required" | translate }}
        </div>
        <div class="form-group">
          <label for="file" class="form-label">{{
            "craftForm.uploadPictures" | translate
          }}</label>
          <br />
          <input
            class="m-2 text-light"
            type="file"
            id="Image"
            formControlName="Image"
            (change)="onChange($event)"
          />
        </div>
        <button class="button1 m-2" type="submit">
          &nbsp;&nbsp;&nbsp;{{
            "craftForm.confirmButton" | translate
          }}&nbsp;&nbsp;&nbsp;
        </button>
        <button class="button3 m-2" routerLink="/Home">
          {{ "craftForm.cancelButton" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
