<br /><br /><br />
<body id="privacybody">
  <header>
    <h1>{{ "privacyPolicy.title" | translate }}</h1>
  </header>
  <main>
    <section>
      <p>
        {{ "privacyPolicy.content" | translate }}
      </p>
    </section>
    <section>
      <h2>{{ "privacyPolicy.howWeUseInformation.title" | translate }}</h2>
      <p>{{ "privacyPolicy.howWeUseInformation.title" | translate }}</p>
      <ol>
        <li>
          {{ "privacyPolicy.howWeUseInformation.listItems" | translate }}
        </li>
        <li>
          {{ "privacyPolicy.howWeUseInformation.listItems1" | translate }}
        </li>
        <li>
          {{ "privacyPolicy.howWeUseInformation.listItems2" | translate }}
        </li>
        <li>
          {{ "privacyPolicy.howWeUseInformation.listItems3" | translate }}
        </li>
      </ol>
      <p>
        {{ "privacyPolicy.howWeUseInformation.disclaimer" | translate }}
      </p>
    </section>
    <section>
      <h2>{{ "privacyPolicy.contactUs.title" | translate }}</h2>
      <p>
        {{ "privacyPolicy.contactUs.content" | translate }}
        <a href="#contact">{{
          "privacyPolicy.contactUs.cliclHere" | translate
        }}</a>
      </p>
    </section>
  </main>
</body>
