<header [ngClass]="{ sticky: isSticky }">
  <!-- <a href="#" class="logo">Herfitk</a>  -->
  <!-- For Translat -->
  <!-- <div id="google_translate_element" ></div> -->
  <!-- For Dark Mode -->

  <h1 class="logo">
    <img src="assets/Image/17.png" alt="Herfitk Logo" />
    Herfitk
  </h1>
  <ul>
    <li
      *ngIf="
        (isLoggedIn && UserRole === 'Admin') ||
        (isLoggedIn && UserRole === 'Staff')
      "
    >
      <a href="https://localhost:7021">Dashboard</a>
    </li>
    <li><a href="#">Home</a></li>
    <li><a href="#About">About US</a></li>
    <li><a href="#category">Category</a></li>
    <li><a href="#contact">Contact US</a></li>
    <!-- Dark And Light Mode -->
    <!-- <li>
      <input type="checkbox" id="switch" (change)="toggleBackground()">
      <label for="switch"></label>
      </li> -->

    <li>
      <a *ngIf="!isLoggedIn" (click)="openLoginForm()" href="/login">Login</a>
      <a *ngIf="isLoggedIn" (click)="logout()" href="/">Logout</a>
    </li>
    <li *ngIf="isLoggedIn">
      <!-- <span style="color: #ffd700">Welcome {{ UserName }}</span> -->
      <button
        (click)="goToDisplay()"
        style="background: transparent; border: none"
      >
        <span style="color: #ffd700">Welcome {{ UserName }}</span>
      </button>
    </li>
    <li>
      <label class="switch">
        <input type="checkbox" id="switch" (change)="toggleBackground()" />
        <span class="slider"></span>
      </label>
    </li>
    <li>
      <button class="btn1" (click)="SwitchLanguage('en')"></button>
      <button class="btn2" (click)="SwitchLanguage('ar')"></button>
    </li>
  </ul>
</header>
<!-- Login Popup -->
<app-login *ngIf="isLoginPopupOpen" (close)="closeLoginForm()"></app-login>
<section class="banner">
  <div class="overlay">
    <h1 id="headTirle">We are at your service 24 hours</h1>
  </div>
</section>
