
<header [ngClass]="{'sticky': isSticky}">
  <!-- <a href="#" class="logo">Herfitk</a>  -->
  <!-- For Translat -->
  <div id="google_translate_element" ></div>
  <!-- For Dark Mode -->

   <h1 class="logo "> Herfitk</h1>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#about">About US</a></li>
      <li><a href="#Category">Category</a></li>
      <li><a href="#contact">Contact US</a></li>
      <!-- <li><a href="#">Login</a></li>  -->

      <li><a href="#" (click)="openLoginForm()">Login</a></li>
     </ul>
</header>
<!-- Login Popup -->
<app-login *ngIf="isLoginPopupOpen" (close)="closeLoginForm()"></app-login>
<section class="banner">
  <div class="overlay">
    <h1>We are service</h1>
  </div>
</section>
