<!-- <header>
    <h1 class="category-title">Category</h1>
</header>
  <section class="category-section">
    <div class="container">
      
    <div class="row">
      <div class="card">
        <img src="assets/Image/worker_10021597.png">
        <div class="card__content">
          <p class="card__title">Card Title</p>
          <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/Image/workers-team_103577-2877.jpg">
       <div class="card__content">
          <p class="card__title">Card Title</p>
          <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/Image/workers-team_103577-2877.jpg">
       <div class="card__content">
          <p class="card__title">Card Title</p>
          <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="card">
          <img src="assets/Image/workers-team_103577-2877.jpg">
         <div class="card__content">
            <p class="card__title">Card Title</p>
            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
        </div>
        <div class="card">
          <img src="assets/Image/workers-team_103577-2877.jpg">
         <div class="card__content">
            <p class="card__title">Card Title</p>
            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
        </div>
        <div class="card">
          <img src="assets/Image/workers-team_103577-2877.jpg">
         <div class="card__content">
            <p class="card__title">Card Title</p>
            <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
        </div>
      </div>
    
    
    </div>
  </section>
  
   -->


  
<!-- category.component.html -->
<!-- <div class="category-container">
  <div class="swiper-container" #swiperContainer>
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let category of categories">
        <img [src]="category.image" alt="Category Image">
        <p>{{ category.name }}</p>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div> -->

<h1>Category</h1>
<br>
<div class="owl-carousel owl-theme">
  <section id="card1" class="card">
    <svg
      viewBox="0 0 16 16"
      class="bi bi-image-fill"
      fill="currentColor"
      height="40"
      width="40"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"
      ></path>
    </svg>
    <div class="card__content">
      <p class="card__title">Lorem Ipsum</p>
      <p class="card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
        justo vel lorem tincidunt ultrices at non nunc. Donec in sapien viverra,
        tincidunt augue id, efficitur massa.
        <br>
        <br>
        <br>
        <button class="contactButton">
          Show More
          
        </button>
      </p>
    </div>
  </section>


  <section id="card1" class="card">
    <svg
      viewBox="0 0 16 16"
      class="bi bi-image-fill"
      fill="currentColor"
      height="40"
      width="40"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"
      ></path>
    </svg>
    <div class="card__content">
      <p class="card__title">Lorem Ipsum</p>
      <p class="card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
        justo vel lorem tincidunt ultrices at non nunc. Donec in sapien viverra,
        tincidunt augue id, efficitur massa.
        <br>
        <br>
        <br>
        <button class="contactButton">
          Show More
          
        </button>
      </p>
    </div>
  </section>

  <section id="card1" class="card">
    <svg
      viewBox="0 0 16 16"
      class="bi bi-image-fill"
      fill="currentColor"
      height="40"
      width="40"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"
      ></path>
    </svg>
    <div class="card__content">
      <p class="card__title">Lorem Ipsum</p>
      <p class="card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
        justo vel lorem tincidunt ultrices at non nunc. Donec in sapien viverra,
        tincidunt augue id, efficitur massa.
        <br>
        <br>
        <br>
        <button class="contactButton">
          Show More
          
        </button>
      </p>
    </div>
  </section>

  <section id="card1" class="card">
    <svg
      viewBox="0 0 16 16"
      class="bi bi-image-fill"
      fill="currentColor"
      height="40"
      width="40"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"
      ></path>
    </svg>
    <div class="card__content">
      <p class="card__title">Lorem Ipsum</p>
      <p class="card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
        justo vel lorem tincidunt ultrices at non nunc. Donec in sapien viverra,
        tincidunt augue id, efficitur massa.
        <br>
        <br>
        <br>
        <button class="contactButton">
          Show More
          
        </button>
      </p>
    </div>
  </section>

  <section id="card1" class="card">
    <svg
      viewBox="0 0 16 16"
      class="bi bi-image-fill"
      fill="currentColor"
      height="40"
      width="40"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"
      ></path>
    </svg>
    <div class="card__content">
      <p class="card__title">Lorem Ipsum</p>
      <p class="card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
        justo vel lorem tincidunt ultrices at non nunc. Donec in sapien viverra,
        tincidunt augue id, efficitur massa.
        <br>
        <br>
        <br>
        <button class="contactButton">
          Show More
          
        </button>
      </p>
    </div>
  </section>

 
 