h1 {
  text-align: center;
  color: #cdcccb;
  font-family: Arial, Helvetica, sans-serif;

  padding: 20px 0;
}

h1:hover {
  color: #f6fa11; /* Change the color on hover */
}
body{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background:#434343;
  position: relative;
}


.container{
  max-width: 1400px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
  margin: 0 auto; /* Add this line to center the container horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main-card{
  
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card{
  margin-left: -100%;
}
.container .main-card .cards{
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .card{
  width: calc(100% / 3 - 10px);
  width: 300px;
  height: 400px ;
  background:#434343;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 5px 10px #b8c506;
  transition: all 0.4s ease;
}
.main-card .cards .card:hover{
  transform: translateY(-15px);
}
.cards .card .content{
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards .card .content .img {
  width: 100%;
  padding: 1px;
  margin-bottom: 10px;
}

.card .content .img img {
  height: 100%;
  width: 100%;
  border: 1px solid #b8c506;
  object-fit: cover;
}

.card .content .img {
  height: 200px;
  width: 150px;
  border: 3px solid #b8c506;
  object-fit: cover;
}
.card .content .name{
  font-size: 20px;
  color: #f3f2f2;
}
.card .content .descraption{
  font-size: 20px;
  color: #f3f2f2;
}

.container .button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.container .button label {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #d0da0a;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}



.button label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #e3ed21;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active{
  width: 35px;
}
#one:checked ~ .button .one{
  width: 35px;
}
#one:checked ~ .button .two{
  width: 15px;
}
#two:checked ~ .button .one{
  width: 15px;
}
#two:checked ~ .button .two{
  width: 35px;
}
input[type="radio"]{
  display: none;
}
@media (max-width: 768px) {
  .main-card .cards .card{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card{
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}


 /* css for button  */
 .contactButton {
  text-align: center;
  background: #31312e;
  color: rgb(237, 240, 55);
  font-family: inherit;
  padding: 0.45em;
  padding-left: 1em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  cursor: pointer;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #101010;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3em;
}



.contactButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em #fafa05;
}

.contactButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em#fafa05;
}
 