<br /><br /><br />
<h1 id="Category">Category</h1>
<br /><br />
<div class="owl-carousel owl-theme">
  <section id="card1" class="card">
    <img src="assets/Image/2.jpg" alt="Your Image" height="10" width="10" />
    <div class="card__content">
      <br />
      <p class="card__title">Plumbing</p>
      <p class="card__description">
        <br />
        Plumbing is any system that conveys fluids for a wide range of
        applications. Plumbing uses pipes, valves, plumbing fixtures, tanks, and
        other apparatuses to convey fluids.
        <br /><br /><br />
        <br />
        <button class="contactButton">Show More</button>
      </p>
    </div>
  </section>

  <!-- حل الكونفليكت -->
  <section id="card2" class="card">
    <img
      src="assets/Image/electrical/2.jpg"
      alt="Your Image"
      height="10"
      width="10"
    />
    <div class="card__content">
      <br />
      <p class="card__title">Electrical</p>
      <p class="card__description">
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
        justo vel lorem tincidunt ultrices at non nunc. Donec in sapien viverra,
        tincidunt augue id, efficitur massa.
        <br /><br /><br />
        <br />
        <button class="contactButton">Show More</button>
      </p>
    </div>
  </section>

  <section id="card3" class="card">
    <img
      src="assets/Image/carpenter/4.jpg"
      alt="Your Image"
      height="10"
      width="10"
    />
    <div class="card__content">
      <br />
      <p class="card__title">Carpentry</p>
      <p class="card__description">
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
        justo vel lorem tincidunt ultrices at non nunc. Donec in sapien viverra,
        tincidunt augue id, efficitur massa.
        <br /><br /><br />
        <br />
        <button class="contactButton">Show More</button>
      </p>
    </div>
  </section>
  <section id="card4" class="card">
    <img
      src="assets/Image/Blacksmith/5.jpg"
      alt="Your Image"
      height="10"
      width="10"
    />
    <div class="card__content">
      <br />
      <p class="card__title">Blacksmith</p>
      <p class="card__description">
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
        justo vel lorem tincidunt ultrices at non nunc. Donec in sapien viverra,
        tincidunt augue id, efficitur massa.
        <br /><br /><br />
        <br />
        <button class="contactButton">Show More</button>
      </p>
    </div>
  </section>
</div>
