<br /><br /><br />
<h1 id="category">{{"category.title" | translate}}</h1>
<br /><br />
<div class="container" >
  <input type="radio" name="dot" id="one" />
  <input type="radio" name="dot" id="two" />
  <div class="main-card" >
    @for (item of Category; track $index) {
    <div class="cards" >
      <div class="card" >
        <div class="content">
          <div class="img">
            <!-- <img src="assets/Image/1.jpg"> -->
            <img [src]="'/assets' + item.image" alt="Uploaded Image" />
          </div>
          <div class="details">
            <div class="name">{{ item.categoryName }}</div>
            <br />
            <div class="descraption">{{ item.descraption }}</div>
          </div>
          <button class="contactButton" (click)="goToDisplay(item.id)">
            {{"category.show"}} | translate
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
<div class="btn">
<div class="button">
  <label for="one" class="active one"></label>
  <label for="two" class="two"></label>
</div>
</div>
