
.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
  color: #fff;
}

.card-container {
  display: flex; /* عرض الكروت جنبًا إلى جنب */
  flex-wrap: wrap; /* السماح بالتفاف الكروت عند امتلاء السطر */
  justify-content: space-between; /* توزيع الكروت بالتساوي على طول المحور الرئيسي مع مسافة بينها */
  margin: 20px; /* إضافة مسافة بين الكروت وحافة الشاشة */
}
/* css for card */
.card {
  flex: 0 0 calc(25% - 20px); /* تحديد عرض الكروت ليظهر 4 في كل صف مع مسافة بينهم */
  /* width: 300px; */
  height: 400px;
  background: #17191a;
  border-radius: 15px;
  box-shadow: 1px 1px 20px 0px#ffd541;
  margin: 30px; /* إضافة مسافة من الجوانب */
  overflow: hidden; /* لمنع التمدد عند التحويل */
  transition: transform 0.3s ease; /* إضافة تأثير انتقالي للتحويل */
 }
 .card:hover {
  transform: scale(1.1);
}
 
 .card .card-border-top {
  width: 60%;
  height: 3%;
  background: #b0b0b4;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
 }
 
 .card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
 }
 
 .card .job {
  font-weight: 600;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 17px;
 }
 
 .card .img {
  width: 150px;
  height: 150px;
  background: #303031;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
 }



.card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
 .card button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 18px;
  background: #5d5d5f;
  color: white;
  font-weight: 600;
 }
 
 .card button:hover {
  background: #ffd541;
  transform: scale(1.2);
 
 } 
 
 
   