*{
    margin: 0%;
    padding: 0%;
}
.card {
    width: 300px;
    height: 500px;
    background: rgb(39, 39, 39);
    border-radius: 12px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.123);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition-duration: .5s;
  }
  
  .image_profile {
    background: linear-gradient(to right,rgb(54, 54, 54),rgb(32, 32, 32));
    margin-top: 20px;
    width: 250px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
  }
  
  .textContainer {
    width: 100%;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
  
  .name {
    font-size: 0.9em;
    font-weight: 600;
    color: white;
    letter-spacing: 0.5px;
  }
  
  .profile {
    font-size: 0.84em;
    color: rgb(194, 194, 194);
    letter-spacing: 0.2px;
  }
  
  .card:hover {
    background-color: rgb(43, 43, 43);
    transition-duration: .5s;
  }


  /* buttonMessage */
  button {
    padding: 10px 20px;
    margin: 2px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
    width: 120px;

  }
  
  #btn:hover,
  :focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
  }

  .column {
    /* float: left;
    width: 30%;
    height: auto;
    margin-top: 10px;
       */
   
    float: left;
    width: 300px;
    margin-top: 10px;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .Information,.images{
    color: white;
    /* border-left: 1px solid white ; */
    margin-left: 5px;
    padding-left: 5px;
    
  }

  .w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
  }

  .w3-half img:hover {
    opacity: 1
  }
  .reviews img {
    width: 100px;
    border-radius: 50%;
  } 
.reviews .card{
    height: 250px;
    padding: 0px;
    margin: 0px;
    
}