<br><br><br>
<header id="term">
    <h1>{{"termsofService.TermsofService" | translate}}</h1>
  </header>
  <main >
    <section >
      <h2 id="th2">{{"termsofService.Acceptance" | translate}}</h2>
      <p id="tp">{{"termsofService.Byaccessing" | translate}}</p>
    </section>
    <section>
      <h2 id="th2">{{"termsofService.Use License" | translate}}</h2>
      <p id="tp">{{"termsofService.mation" | translate}}</p>
    </section>
    <section>
      <h2 id="th2" >{{"termsofService.Disclaimer" | translate}}</h2>
      <p id="tp">{{"termsofService.Thematerials" | translate}}</p>
    </section>


  </main>
