body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#17191a;
}

header {
    
    color: #cdcccb;
    text-align: center;
    padding: 20px 0;
}
header:hover{
    color: #f6fa11;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.content {
    flex: 1;
}

.image {
    flex: 1;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
}

h2{
    color: #cdcccb;
    font-size: 40px;

}

p{
    color: #cdcccb;
    font-size: 25px;

}
.image {
    position: relative;
    overflow: hidden; /* Ensure the image is clipped within the container */
  }
  
  .image img {
    width: 100%; /* Make the image take the full width of its container */
    height: 100%; /* Make the image take the full height of its container */
    transition: transform 0.3s ease; /* Add a smooth transition for the transform property */
  }
  
  .image:hover img {
    transform: scale(1.1); /* Enlarge the image on hover */
  }