

/* .carousel-item {
   
    height: 700px;
  }
  
  
  .carousel-item .banner h1,
  .carousel-item .banner p,
  .carousel-item .banner a {
    color: #f13e3e;
    position: absolute;
    left: 20%;
   
  }
  
  .carousel-item .banner h1 {
    font-size: 3em;
    font-weight: bold;
    top: 35%;
  }
  
  .carousel-item .banner p {
    font-size: 1.5em;
    top: 45%;
  }
  
  .carousel-item .banner a {
    text-decoration: none;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 20px;
    top: 53%;
  }
  
  .carousel-item .banner a:hover {
    background-color: #f4dddd;
    color: #000;
  } */



  