<div style="display: flex; justify-content: center;" class="homepage-background" #homepageBackground>
  <img src="assets/Image/workers-team_103577-2877.jpg" style="max-width: 100%; height: auto;">
</div>

<!-- <div style="display: flex; justify-content: center;">
    <img src="assets/Image/workers-team_103577-2877.jpg" style="max-width: 100%; height: auto;">
    <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: rgb(6, 6, 6); font-size: 24px; font-weight: bold; text-align: center;">Welcome in our Services</span>
  </div> -->

  <div class="navbar" id="dynamic-navbar" appDynamicBackgroundDirective>
    <div class="navbar-brand">
      <a href="#">Herfitk</a>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#">About</a></li>
      <li class="nav-item"><a href="#">Category</a></li>
      <li class="nav-item"><a href="#">Contact</a></li>
      <li class="nav-item"><a href="#">Login</a></li>
    </ul>
  </div>

  <div #carousel id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="banner">
          <h1>We are at your service 24 hours </h1>
          <p>
            We are at your service 24 hours</p>
          <a href="#">About US <i class="bi bi-arrow-right"></i></a>
        </div>
        <img src="/assets/Image/4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <div class="banner">
          <h1> We are at your service 24 hours</h1>
          <p> </p>
          <a href="#">Contact us <i class="bi bi-arrow-right"></i></a>
        </div>
        <img src="/assets/Image/2.jpg" class="d-block w-100 " alt="...">
      </div>
      <div class="carousel-item">
        <div class="banner">
          <h1> We are at your service 24 hours</h1>
          <p></p>
          <a href="#">Shop Now <i class="bi bi-arrow-right"></i></a>
        </div>
        <img src="/assets/Image/3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
 <!-- <div style="display: flex; justify-content: center; position: relative;">
    <img src="assets/Image/workers-team_103577-2877.jpg" style="max-width: 100%; height: auto;">
    <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 24px; font-weight: bold; text-align: center;">نص الذي تريد عرضه</span>
</div>  -->


