
<div style="display: flex; justify-content: center;">
    <img src="assets/Image/workers-team_103577-2877.jpg" style="max-width: 100%; height: auto;">
    <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: rgb(6, 6, 6); font-size: 24px; font-weight: bold; text-align: center;">Welcome in our Services</span>
  </div>

 <!-- <div style="display: flex; justify-content: center; position: relative;">
    <img src="assets/Image/workers-team_103577-2877.jpg" style="max-width: 100%; height: auto;">
    <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 24px; font-weight: bold; text-align: center;">نص الذي تريد عرضه</span>
</div>  -->


