<br /><br />
<div class="card">
  <div class="card2">
    <form
      class="form"
      appAutofocus
      [formGroup]="registrationForm"
      (ngSubmit)="onSubmit()"
    >
      <p id="heading">Registration</p>
      <label class="form-label">Name</label>
      <div class="field">
        <input
          formControlName="DisplayName"
          type="text"
          id="name"
          name="name"
          class="input-field"
          placeholder="Enter Your Name"
          required
          autocomplete="on"
          appAutofocus
        />
      </div>
      <div
        *ngIf="formControls['DisplayName'].invalid && submitted"
        style="color: red"
        id="not"
      >
        Name is required (minimum 2 characters, maximum 20 characters)
      </div>

      <label class="form-label">Email</label>
      <div class="field">
        <input
          formControlName="Email"
          type="email"
          name="email"
          class="input-field"
          placeholder="email@example.com"
          required
          autocomplete="on"
        />
      </div>
      <div
        *ngIf="formControls['Email'].invalid && submitted"
        style="color: red"
      >
        Please enter a valid email address
      </div>

      <label class="form-label">Phone</label>
      <div class="field">
        <input
          formControlName="PhoneNumber"
          type="tel"
          name="phone"
          class="input-field"
          placeholder="Enter Phone Number"
          required
          autocomplete="on"
        />
      </div>
      <div
        *ngIf="formControls['PhoneNumber'].invalid && submitted"
        style="color: red"
      >
        Please enter a valid phone number (e.g., 010xxxxxxxx)
      </div>

      <label class="form-label">Address</label>
      <div class="field">
        <input
          formControlName="Address"
          type="text"
          name="address"
          class="input-field"
          placeholder="Enter Your Address"
          required
          autocomplete="on"
        />
      </div>
      <div
        *ngIf="formControls['Address'].invalid && submitted"
        style="color: red"
      >
        Please enter your address (minimum 3 characters, maximum 30 characters)
      </div>

      <label class="form-label">National ID</label>
      <div class="field">
        <input
          formControlName="NationalId"
          type="text"
          name="naId"
          class="input-field"
          placeholder="Enter Your National ID"
          required
          autocomplete="on"
        />
      </div>
      <div
        *ngIf="formControls['NationalId'].invalid && submitted"
        style="color: red"
      >
        Please enter a valid 14-digit national ID
      </div>

      <label class="form-label">Password</label>
      <div class="field">
        <input
          formControlName="Password"
          type="password"
          name="password"
          class="input-field"
          placeholder="Password"
          required
        />
      </div>
      <div
        *ngIf="formControls['Password'].invalid && submitted"
        style="color: red"
      >
        Please enter a password (minimum 8 characters)
      </div>

      <label class="form-label">Confirm Password</label>
      <div class="field">
        <input
          formControlName="confirmPassword"
          type="password"
          name="confirmPassword"
          class="input-field"
          placeholder="Confirm Password"
          required
        />
      </div>
      <div
        *ngIf="
          formControls['confirmPassword'].hasError('passwordMismatch') &&
          formControls['confirmPassword'].touched
        "
        style="color: red"
      >
        Passwords do not match
      </div>

      <div class="form-group">
        <label for="personalImage" class="form-label"
          >Upload Personal Photo:</label
        >
        <br />
        <input
          class="m-2 text-light"
          type="file"
          id="personalImage"
          formControlName="PersonalImage"
          (change)="onChange($event)"
        />
        <div
          *ngIf="formControls['PersonalImage'].invalid && submitted"
          style="color: red"
        >
          Please select a photo.
        </div>
      </div>

      <label class="form-label">Register AS</label>
      <div class="field">
        <select
          id="role"
          name="role"
          class="input-field"
          required
          (change)="onRoleChange($event)"
        >
          <option value="" disabled>Select Role</option>
          <option value="client">Client</option>
          <option value="herify">Herify</option>
        </select>
      </div>
      <div *ngIf="!selectedRole && submitted" style="color: red" id="not">
        You Should Choose your Role.
      </div>
      <div class="btn">
        <button class="button3" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>
