<br /><br />
<div class="card">
  <div class="card2">
    <form
      class="form"
      appAutofocus
      [formGroup]="registrationForm"
      (ngSubmit)="onSubmit()"
    >
      <p id="heading">{{ "registration.heading" | translate }}</p>
      <label class="form-label">{{ "registration.name" | translate }}</label>
      <div class="field">
        <input
          formControlName="DisplayName"
          type="text"
          id="name"
          name="name"
          class="input-field"
          [placeholder]="'registration.name' | translate"
          required
          autocomplete="on"
          appAutofocus
        />
      </div>
      <div
        *ngIf="formControls['DisplayName'].invalid && submitted"
        style="color: red"
        id="not"
      >
        {{ "registration.nameRequired" | translate }}
      </div>

      <label class="form-label">{{ "registration.email" | translate }}</label>
      <div class="field">
        <input
          formControlName="Email"
          type="email"
          name="email"
          class="input-field"
          placeholder="email@example.com"
          required
          autocomplete="on"
        />
      </div>
      <div
        *ngIf="formControls['Email'].invalid && submitted"
        style="color: red"
      >
        {{ "registration.emailInvalid" | translate }}
      </div>

      <label class="form-label">{{ "registration.phone" | translate }}</label>
      <div class="field">
        <input
          formControlName="PhoneNumber"
          type="tel"
          name="phone"
          class="input-field"
          [placeholder]="'registration.phone' | translate"
          required
          autocomplete="on"
        />
      </div>
      <div
        *ngIf="formControls['PhoneNumber'].invalid && submitted"
        style="color: red"
      >
        {{ "registration.phoneInvalid" | translate }}
      </div>

      <label class="form-label">
        {{ "registration.address" | translate }}</label
      >
      <div class="field">
        <input
          formControlName="Address"
          type="text"
          name="address"
          class="input-field"
          [placeholder]="'registration.address' | translate"
          required
          autocomplete="on"
        />
      </div>
      <div
        *ngIf="formControls['Address'].invalid && submitted"
        style="color: red"
      >
        {{ "registration.addressRequired" | translate }}
      </div>

      <label class="form-label">
        {{ "registration.nationalId" | translate }}</label
      >
      <div class="field">
        <input
          formControlName="NationalId"
          type="text"
          name="naId"
          class="input-field"
          [placeholder]="'registration.nationalId' | translate"
          required
          autocomplete="on"
        />
      </div>
      <div
        *ngIf="formControls['NationalId'].invalid && submitted"
        style="color: red"
      >
        {{ "registration.nationalIdInvalid" | translate }}
      </div>

      <label class="form-label">
        {{ "registration.password" | translate }}</label
      >
      <div class="field">
        <input
          formControlName="Password"
          type="password"
          name="password"
          class="input-field"
          [placeholder]="'registration.password' | translate"
          required
        />
      </div>
      <div
        *ngIf="formControls['Password'].invalid && submitted"
        style="color: red"
      >
        {{ "registration.passwordRequired" | translate }}
      </div>

      <label class="form-label">
        {{ "registration.confirmPassword" | translate }}</label
      >
      <div class="field">
        <input
          formControlName="confirmPassword"
          type="password"
          name="confirmPassword"
          class="input-field"
          [placeholder]="'registration.confirmPassword' | translate"
          required
        />
      </div>
      <div
        *ngIf="
          formControls['confirmPassword'].hasError('passwordMismatch') &&
          formControls['confirmPassword'].touched
        "
        style="color: red"
      >
        {{ "registration.passwordMismatch" | translate }}
      </div>

      <div class="form-group">
        <label for="personalImage" class="form-label">{{
          "registration.uploadPhoto" | translate
        }}</label>
        <br />
        <input
          class="m-2 text-light"
          type="file"
          id="personalImage"
          formControlName="PersonalImage"
          (change)="onChange($event)"
        />
        <div
          *ngIf="formControls['PersonalImage'].invalid && submitted"
          style="color: red"
        >
          {{ "registration.photoRequired" | translate }}
        </div>
      </div>

      <label class="form-label">
        {{ "registration.selectRole" | translate }}</label
      >
      <div class="field">
        <select
          id="role"
          name="role"
          class="input-field"
          required
          (change)="onRoleChange($event)"
          style="background-color: #171717; color: white"
        >
          <option value="" disabled>
            {{ "registration.selectRole" | translate }}
          </option>
          <option value="client">
            {{ "registration.client" | translate }}
          </option>
          <option value="herify">
            {{ "registration.herify" | translate }}
          </option>
        </select>
      </div>
      <div *ngIf="!selectedRole && submitted" style="color: red" id="not">
        {{ "registration.roleRequired" | translate }}
      </div>
      <div class="btn">
        <button class="button3" type="submit">
          {{ "registration.signUp" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
